/* PRIMARY COLORS */
$primary_blue: #5847eb;
$primary_work: #ff8c66;
$primary_play: #56c2e6;
$primary_study: #ff5c7c;
$primary_exercise: #4acf81;
$primary_social: #7536d3;
$primary_selfCare: #f1c65b;
/* NEUTRALS */
$neutral_darkestBlue: #0f1424;
$neutral_darkBlue: #1c1f4a;
$neutral_desatBlue: #6f76c8;
$neutral_paleBlue: #bdc1ff;
/* MIXINS */
/* FONT-SIZES */
h1 {
  font-size: 2rem;
  font-weight: 300;
  color: #FFF;
}

h2 {
  font-weight: 300;
  color: #FFF;
  font-size: 1.5rem;
}

h3 {
  font-weight: 300;
  font-size: 1.2rem;
  color: $neutral_desatBlue;
}

h4 {
  font-size: 1.1rem;
  color: #FFF;
}

p {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}
/** CUSTOM CSS**/
:root {
  background-color: $neutral_darkestBlue;
  padding: 0;
  margin: 0;

  body {
    background-color: transparent;
    font-family: 'Rubik', sans-serif;
    color: $neutral_paleBlue;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;

    .container {
      padding-top: 18%;

      .row {
        .main-nav {
          padding: 0;
          display: flex;

          .views {
            min-width: 325px;
            height: 200px;
            border-radius: 15px;
            background-color: $neutral_darkBlue;
            margin: 0 auto;
            position: relative;
          }

          .profile {
            width: 325px;
            height: 132px;
            border-radius: 15px;
            background-color: $primary_blue;
            margin: 0 auto;
            position: absolute;
            display: inline-flex;

            .profile-pic {
              width: 35%;
              display: flex;
              justify-content: center;

              img {
                width: 80%;
                height: auto;
                align-self: center;
                padding: 12%;
                --stroke-pos: 1px;
                --stroke-neg: -1px;
                --stroke-color: white;
                filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
              }
            }

            .profile-text {
              width: 65%;

              p {
                padding: 20% 0 0;
                margin: 0;
                font-weight: 400;
              }

              h2 {
                margin: 0;
                padding: 1% 0 0;
              }
            }
          }

          .change-view {
            position: absolute;
            width: 100%;
            bottom: 6%;
            display: inline-flex;
            padding: 0 2%;
            justify-content: center;

            h3 {
              padding: 0 7% 0 9%;
            }
          }
        }

        .tracker {
          padding: 3.5%;

          .tracker-header {
            width: 325px;
            height: 160px;
            border-radius: 15px;
            background-color: $primary_work;
            margin: 0 auto;
            z-index: -1;
            position: relative;
            overflow: hidden;

            .tracker-icon {
              position: absolute;
              right: 16px;
            }

            .tracker-body {
              position: absolute;
              bottom: 0;
              width: 325px;
              height: 123px;
              background-color: $neutral_darkBlue;
              border-radius: 15px;
              margin: 0 auto;
              z-index: 1;

              .current {
                padding: 9% 7% 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                h4 {}

                .ellipsis {
                  align-self: center;
                  padding-bottom: 3%;
                }
              }

              .previous {
                padding: 0 7%;
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: space-between;

                h1 {}

                p {
                  color: $neutral_paleBlue;
                  padding-top: 3%;
                }
              }
            }
          }

          #work {
            background-color: $primary_work;

            .tracker-icon {
              top: -12px;
            }
          }

          #play {
            background-color: $primary_play;

            .tracker-icon {
              top: -5px;
            }
          }

          #study {
            background-color: $primary_study;

            .tracker-icon {
              top: -5px;
            }
          }

          #exercise {
            background-color: $primary_exercise;

            .tracker-icon {
              top: -2px;
            }
          }

          #social {
            background-color: $primary_social;

            .tracker-icon {
              top: -15px;
            }
          }

          #self-care {
            background-color: $primary_selfCare;

            .tracker-icon {
              top: -10px;
            }
          }
        }
      }
    }
  }
}
/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
  :root {
    body {
      .container {
        margin: 0;
        max-width: 1440px;

        .row {
          width: 100%;
          padding: 0 8%;
          margin: 0;

          .main-nav {
            padding: 0;
            justify-content: flex-end;
            width: 48%;

            .views {
              min-width: 255px;
              min-height: 518px;
              margin: 0;
            }

            .profile {
              width: 255px;
              height: 354px;
              flex-direction: column;

              .profile-pic {
                width: 100%;
                justify-content: left;
                padding: 14% 0 0 14%;

                img {
                  width: 36%;
                  padding: 0;
                }
              }

              .profile-text {
                width: 100%;
                padding: 16% 0 0 14%;

                p {
                  padding: 0;
                  margin: 0;
                }

                h2 {
                  font-size: 2.5rem;
                }
              }
            }

            .change-view {
              position: absolute;
              width: 100%;
              bottom: 6%;
              display: flex;
              padding: 0 0 0 12%;
              justify-content: space-evenly;
              flex-direction: column;

              h3 {
                padding: 3.5% 0 0;
              }
            }
          }

          .all-trackers {
            width: 50%;

            .row {
              padding: 0;

              .tracker {
                padding: 0 10px 4%;

                .tracker-header {
                  width: 255px;
                  height: 244px;

                  .tracker-icon {
                    position: absolute;
                    right: 16px;
                  }

                  .tracker-body {
                    width: 255px;
                    height: 198px;

                    .current {
                      padding: 11% 12% 0;
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;

                      h4 {}

                      .ellipsis {
                        align-self: center;
                        padding-bottom: 3%;
                      }
                    }

                    .previous {
                      padding: 0 7%;
                      width: 100%;
                      text-align: left;
                      display: flex;
                      flex-direction: column;
                      justify-content: flex-end;

                      h1 {
                        font-size: 3.5rem;
                        padding: 8% 5% 0;
                        margin: 0;
                      }

                      p {
                        color: $neutral_paleBlue;
                        padding: 3% 5% 0;
                      }
                    }
                  }
                }

                #work {
                  background-color: $primary_work;

                  .tracker-icon {
                    top: -12px;
                  }
                }

                #play {
                  background-color: $primary_play;

                  .tracker-icon {
                    top: -5px;
                  }
                }

                #study {
                  background-color: $primary_study;

                  .tracker-icon {
                    top: -5px;
                  }
                }

                #exercise {
                  background-color: $primary_exercise;

                  .tracker-icon {
                    top: -2px;
                  }
                }

                #social {
                  background-color: $primary_social;

                  .tracker-icon {
                    top: -15px;
                  }
                }

                #self-care {
                  background-color: $primary_selfCare;

                  .tracker-icon {
                    top: -10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  :root {
    body {
      .container {
        .row {
          .main-nav {
            max-width: 60%;
            flex: 0 0 48%;
          }

          .all-trackers {
            max-width: 50%;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  :root {
    body {
      .container {
        .row {
          .main-nav {
            max-width: 25%;
            flex: 0 0 10%;
          }

          .all-trackers {
            max-width: 80%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    body {
      .container {

        .row {
          padding: 0 8%;
          justify-content: flex-center;


          .main-nav {
            max-width: 30%;
            flex: 0 0 10%;
          }

          .all-trackers {
            max-width: 80%;
            .row {
              .tracker {
                flex-grow: 0;
              }
            }
          }
        }
      }
    }
  }
}
